/* Estilos generales del body */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
  overflow: hidden;
}

/* Contenedor del mapa */
#contenedor {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(mapa-mundo.jpg);
  background-size: cover;
  /* ajusta la imagen al tamaño */
  background-position: center;
  /* centra la imagen */
  background-repeat: no-repeat;
  /* evita que se repita */
}

/* Estilo general para cada zona clickeable */
.zona {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
}

/* Posiciones específicas de cada zona */
.ciudad {
  top: 50px;
  left: 100px;
}

.huerta {
  top: 200px;
  left: 300px;
}

.playa {
  top: 400px;
  left: 500px;
}

/* Estilos para la ventana de información */
.cont.info {
  display: none;
  /* oculto por defecto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: beige;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
}


/* Botón cerrar dentro de cada ventana */
.cont.info .cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}
